<mat-list class="list">
    <h3>Todos</h3>

    <mat-list-item *ngIf="(todos$ | async)?.length === 0">
        No todos left!
    </mat-list-item>
    
    <mat-list-item *ngFor="let todo of todos$ | async; trackBy: getTrackKey;" [ngClass]="todo.complete ? 'complete-row' : 'row'">
        <div class="desc">{{ todo.description }}</div>
        <button mat-mini-fab color="primary" (click)="toggleTodo(todo.id)">
            <mat-icon>{{ todo.complete ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteTodo(todo.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>